body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/background-header.webp);
  background-size: cover;
  padding: 30px;
  border-top: 8px solid #7DB96F;
  padding: 30px;
  text-align: center;
}

.slogan {
  font-family: 'Quattrocento', serif;
  font-weight: 400;
  font-size: 20px;
  color: #7DB96F;
}

.box-title {
  background-color: #ffffffde;
  padding: 1px 25px 1px 25px;
  margin: 10px;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}

.cta {
  background-color: #7DB96F;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #FFFFFF;
}

.cta-light {
  background-color: #FFFFFF;
  color: #7DB96F;
}

.section-light {
  background-color: #FFFFFF;
  padding: 96px 60px 98px 60px;
  text-align: center;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 26px;
  text-align: center;
  margin-bottom: 26px;
}

p {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  margin-bottom: 36px;
}

.section-green h2 {
  color: #FFFFFF;
}

h3 {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
  margin: 39px 0 0 38px;
}

.fruits-line img{
  width: 27px;
  margin: auto;
}

.fruits-line{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-green {
  background-color: #7DB96F;
  padding: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;
  filter: drop-shadow(0px 0px 5px #0000008a);
}

.cards p {
  color: #0000008a;
  margin: 0 0 36px 38px;
}

.banana-card {
  background-color: #FCF7D6;
  border-radius: 22px;
}

.kiwi-card {
  background-color: #D0F1AE;
  border-radius: 22px;
}

.coffee-card {
  background-color: #CDC4B0;
  border-radius: 22px;
}

.strawberry-card {
  background-color: #E2A2B1;
  border-radius: 22px;
}

.cards img{
  width: 80px;
  margin: 0 231px 0 210px;
}

.cards a {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  color: black;
}

.link {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0 38px 29px;
}

.section-light-back {
  background-color: #FFFFFF;
  padding: 42px;
  color: #7DB96F;
}

footer {
  background-color: #FFFFFF;
  padding: 30px;
  color: #7DB96F;
  text-align: center;
}

.section-light-back .cta{
  filter: drop-shadow(0px 0px 5px #0000002e);
}

footer p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 12px;
}